@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 255, 255, 255;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}

@layer components {
  .privacy-policy h5,
  .t-and-c h5
   {
    font-size: 16px;
    font-weight: 700;
    line-height: 22.4px;
    margin-top: 24px;
    margin-bottom: 8px;
    color: rgb(21, 31, 109);
  }

  .privacy-policy h4,
  .t-and-c h4 {
    font-size: 16px;
    font-weight: 700;
    line-height: 22.4px;
    margin-top: 24px;
    margin-bottom: 8px;
    color: rgb(45, 55, 72);
  }
  .privacy-policy p,
  .t-and-c p {
    font-size: 16px;
    font-weight: 400;
    line-height: 25.6px;
    color: rgb(45, 55, 72);
  }

  .privacy-policy ul,
  .privacy-policy ol,
  .t-and-c ul,
  .t-and-c ol {
    list-style: revert;
    padding-left: 1.5rem;
    font-size: 1rem;
  }

  .show-bullet ul,
  .show-bullet ol {
    list-style: none; /* Remove the default marker since strapi block renderer doesn't seem to show it*/
    padding-left: 1.5rem;
    font-size: 1rem;
  }

  /* Probably used in conjunction with the show-bullet class */
  .custom-bullet ul li::before,
  .custom-bullet ol li::before {
    content: "✔"; /* Checkmark symbol, could try to replace with another icon */
    display: inline-block;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    background-color: orange;
    color: white;
    text-align: center;
    font-size: 0.65rem;
    line-height: 1rem;
    margin-right: 0.5rem;
    margin-left: -1.5rem; /* To make up for the default padding-left */
  }
}
